@page
@model PrivacyModel
@{
    ViewData["Title"] = "Links Do GitHub";
}
<h1>@ViewData["Title"]</h1>
<p>Código fonte da API Calculo em: <a href ="https://github.com/Horanian/Calculo">https://github.com/Horanian/Calculo</a> no github</p>
<p>Código fonte da API Taxa de Juros em: <a href="https://github.com/Horanian/Taxa_de_Juros">https://github.com/Horanian/Taxa_de_Juros</a> no github.</p>
